
/***********************************************
general
***********************************************/
body{
    font-family:'open sean',sans-serif;
}

#wrapper{
    max-width: 940px;
    margin: 0 auto;
    background-color: lime;
    padding: 0 5%;
}
a{
    text-decoration: none;
}
img{
    max-width:100%;
}
/***********************************************
 header
***********************************************/
header{
    float:left;
    margin:0 0 38px 0;
    padding:5px 0 0 0;
    width:100%;
}
#logo {
    text-align: center;
    margin: 0;
}
h1{
    font-family: 'Caveat', cursive;
    margin:15px;
    font-size:1.75em;
}
h2{
    font-size:0.75em;
    margin:-5px 0 0;
    font-weight:normal;
}
/**********************************************
navigation
**********************************************/
nav{
    text-align:center;
    padding:10px 0;
    margin:20px 0 0;
}
nav ul{
    list-style:none;
    padding:10px 0;
    margin:0 10px;
}
nav li{
    display: inline-block;
}
nav a{
    font-weight:800;
    padding:15px 10px;
}
/**********************************************
footer
**********************************************/
   footer{
    font-size:0.75em;
    text-align:center;
    padding-top:50px;
    color:#ccc;
   }
   .social-media-icon{
       width:20px;
       height:20px;
       margin:0 5px;
   }
/**********************************************
page portfolio
**********************************************/
#gallery{
   margin:0;
   padding:0; 
   list-style:none;
}
#gallery li{
     float:left;
     width:45%;
     margin:2.5%;
     background-color: #lightgrey;
     color:#bdc3c7;
     
}
/**********************************************
colors
**********************************************/
body{
    background-color:white;
    color:#999;
}
a{
    color:#6ab47b;
}
header{
    background:#6ab47b;
}
h1,h2 {
    color:#fff;
}
nav{
    background:#599a68;
}
nav a,nav a:visited{
    color:#fff;
}
nav a.selected,nav a:hover{
    color:#32673f;
}
/**********************************************
media qqueries 
**********************************************/
